.logo {
    margin-right: -16px;
    margin-top: 20px;
    border-radius: 150px 150px 0 0;
    border-spacing: 0px;
    width: 8vh;
  }
  
  .logo2 {
    margin-left: 4px;
    margin-top: 3px;
    border-radius: 150px 150px 0 0;
    width: 11vh;
  }
  

  